<div style="width:550px;margin-left: 10px;">



    <div style="text-align:center; margin:5px auto;">
        <h4>Account Invoices Info:</h4>

    </div>
  
    <table class="showusermembershipinfo" style="text-align:left;width:600px; margin:10px auto;">
        <tbody>
            <tr>
                <th>Invoice Number</th>
                <th>Download</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </tbody>
    </table>
</div>

