<div style="width:550px;margin-left: 10px;">



    <div style="text-align:center; margin:5px auto;">
        <h4>Account Credit Balance Info:</h4>

    </div>
    <table class="showusermembershipinfo" style="text-align:left;width:400px; margin:10px auto;">
        <tbody>
            <tr>
                <td class="fieldname">
                    Balance of Credit:
                </td>
                <td class="fieldname" >
                    Balance of Credit:
                </td>
            </tr>

            <tr>
                <td class="fieldname">
                    Buy Credit:
                </td>
                <td class="fieldname" >
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td class="fieldname">
                    Total Cost:
                </td>
                <td class="fieldname" >
                    <input type="text" style="margin-bottom: 10px;">(CAN$)
                </td>
            </tr>
            <tr >
                <td style="text-align:center;border-top: 1px solid gainsboro;" colspan="2"><button type="button"  value="subscript"  class="btn btn-sm btn-primary" id="form_submit_button_id" style="margin: 15px 0;">Buy Now</button><!--<div class='system-map-icon pull-right'></div>--></td>
            </tr>
        </tbody>
    </table> 
    <table class="showusermembershipinfo" style="text-align:left;width:600px; margin:10px auto;">
        <tbody>
            <tr>
                <th>Description</th>
                <th>Previous Credit</th>
                <th>Payment</th>
                <th>Available Credit</th>
                <th>Date</th>
            </tr>
        </tbody>
    </table>
</div>

