<div id="map" class="sidebar-map" style="width:100%;height:600px;margin-top:40px; border:1px solid #337AB7; border-radius: 5px;"></div>
<div id="mapstatus" class="row">
    <div class="pull-left">
        <div id="mapping_current_position" style="display:inline-block;margin-left: 10px;margin-top:3px;"></div>
    </div>
    <div class="pull-right">
        <select id="projection" style="display:inline-block;margin-top: 4px;margin-right: 5px;">
            <option value="EPSG:4326">EPSG:4326</option>
            <option value="EPSG:3857">EPSG:3857</option>
        </select>
        <div id="map2u_mapping-mouse-position" style="display:inline-block;margin-right: 10px;"></div>
    </div>
</div>
